Home Assistant integration/NodeRedFlow.json
[
  {
    "id": "2cde0c13899997d5",
    "type": "tab",
    "label": "Flow 1",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "5e3d7b26cb7e26c6",
    "type": "inject",
    "z": "2cde0c13899997d5",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "30",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 100,
    "wires": [
      [
        "b3d7b5c619ce1c0d"
      ]
    ]
  },
  {
    "id": "4941b49eb8bfdaf7",
    "type": "debug",
    "z": "2cde0c13899997d5",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 630,
    "y": 400,
    "wires": []
  },
  {
    "id": "49a30b1d9ce73255",
    "type": "http request",
    "z": "2cde0c13899997d5",
    "name": "Status",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://192.168.178.182:8080/api/v1/intex/swg/status",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "senderr": false,
    "x": 310,
    "y": 220,
    "wires": [
      [
        "3de12c1f6ee79ae9",
        "71554df59a13193f"
      ]
    ]
  },
  {
    "id": "2a4b2c200f1465c0",
    "type": "inject",
    "z": "2cde0c13899997d5",
    "name": "Create Sensor Switch",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 180,
    "y": 720,
    "wires": [
      [
        "e105f2c8fd464d82",
        "6e081f6ef0a585b4",
        "b63e0c582fb8a7ac",
        "d93fa0d871435528",
        "6f54109fe705533a",
        "d0b0e71df5db33d1",
        "044c6bceedd54b27",
        "9291f6541b05c46c",
        "b36c017ff5045cd2",
        "a5536a5c51f32495"
      ]
    ]
  },
  {
    "id": "e105f2c8fd464d82",
    "type": "function",
    "z": "2cde0c13899997d5",
    "name": "IntexSWG Power",
    "func": "msg.topic = \"homeassistant/sensor/intexSWG_Power/config\";\ntemp = {};\ntemp.name=\"IntexSWG Power\";\ntemp.stat_t=\"tele/intexswg/sensor\";\ntemp.avty_t= \"tele/intexswg/LWT\";\ntemp.pl_avail=\"Online\";\ntemp.pl_not_avail=\"Offline\";\ntemp.uniq_id=\"IntexSWG_Power\";\ntemp.frc_upd=true;\ntemp.val_tpl=\"{{value_json['status']['power']}}\";\ntemp2={};\ntemp2.ids=\"IntexSWG\";\ntemp2.name=\"Intex SWG\";\ntemp.dev=temp2;\ns=JSON.stringify(temp);\nmsg.payload=s;\nreturn msg",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 410,
    "y": 560,
    "wires": [
      [
        "50828f0f8f271715"
      ]
    ]
  },
  {
    "id": "50828f0f8f271715",
    "type": "json",
    "z": "2cde0c13899997d5",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 750,
    "y": 680,
    "wires": [
      [
        "089a4d079537bff5"
      ]
    ]
  },
  {
    "id": "089a4d079537bff5",
    "type": "mqtt out",
    "z": "2cde0c13899997d5",
    "name": "",
    "topic": "",
    "qos": "1",
    "retain": "true",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "24343b1cf1670fc2",
    "x": 910,
    "y": 680,
    "wires": []
  },
  {
    "id": "3db692b1d9ed600c",
    "type": "mqtt out",
    "z": "2cde0c13899997d5",
    "name": "",
    "topic": "tele/intexswg/LWT",
    "qos": "1",
    "retain": "true",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "24343b1cf1670fc2",
    "x": 850,
    "y": 560,
    "wires": []
  },
  {
    "id": "f416a2cf4277b37e",
    "type": "inject",
    "z": "2cde0c13899997d5",
    "name": "Activate MQTT sensor",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "Online",
    "payloadType": "str",
    "x": 670,
    "y": 560,
    "wires": [
      [
        "3db692b1d9ed600c"
      ]
    ]
  },
  {
    "id": "168efafcdbad47cf",
    "type": "mqtt out",
    "z": "2cde0c13899997d5",
    "name": "",
    "topic": "",
    "qos": "1",
    "retain": "true",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "24343b1cf1670fc2",
    "x": 750,
    "y": 160,
    "wires": []
  },
  {
    "id": "3de12c1f6ee79ae9",
    "type": "function",
    "z": "2cde0c13899997d5",
    "name": "Haus",
    "func": "pow=msg.payload.data.status.power;\nboost=msg.payload.data.status.boost;\nsleep=msg.payload.data.status.sleep;\npump_low_flow=msg.payload.data.status.pump_low_flow;\nlow_salt=msg.payload.data.status.low_salt;\nhigh_salt=msg.payload.data.status.high_salt;\nservice=msg.payload.data.status.service;\n\nif (msg.payload.data.mode.programming==false){\n    programming='OFF';\n} else programming='ON';\nif (msg.payload.data.mode.working==false){\n    working='OFF';\n} else working='ON';\n\ncurrent_code=msg.payload.data.display.current_code;\n\nmsg.payload={};\n\nmsg.topic = \"tele/intexswg/sensor\";\ntemp = {};\ntemp2 = {};\ntemp2.power=pow;\ntemp2.boost=boost;\ntemp2.sleep=sleep;\ntemp2.pump_low_flow=pump_low_flow;\ntemp2.low_salt=low_salt;\ntemp2.high_salt=high_salt;\ntemp2.service=service;\ntemp3 = {};\ntemp3.working=working;\ntemp3.programming=programming;\ntemp4 = {};\ntemp4.current_code=current_code;\ntemp.status=temp2;\ntemp.mode=temp3;\ntemp.display=temp4;\n\n\ns=JSON.stringify(temp);\nmsg.payload=s;\n\nreturn msg\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 470,
    "y": 160,
    "wires": [
      [
        "555c062df27b5f2f"
      ]
    ]
  },
  {
    "id": "555c062df27b5f2f",
    "type": "json",
    "z": "2cde0c13899997d5",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 610,
    "y": 160,
    "wires": [
      [
        "168efafcdbad47cf"
      ]
    ]
  },
  {
    "id": "6e081f6ef0a585b4",
    "type": "function",
    "z": "2cde0c13899997d5",
    "name": "IntexSWG boost",
    "func": "msg.topic = \"homeassistant/binary_sensor/intexSWG_boost/config\";\ntemp = {};\ntemp.name=\"IntexSWG Boost\";\ntemp.stat_t=\"tele/intexswg/sensor\";\ntemp.avty_t= \"tele/intexswg/LWT\";\ntemp.pl_avail=\"Online\";\ntemp.pl_not_avail=\"Offline\";\ntemp.uniq_id=\"IntexSWG_boost\";\ntemp.frc_upd=true;\ntemp.val_tpl=\"{{value_json['status']['boost']}}\";\ntemp2={};\ntemp2.ids=\"IntexSWG\";\ntemp2.name=\"Intex SWG\";\ntemp.dev=temp2;\ns=JSON.stringify(temp);\nmsg.payload=s;\nreturn msg",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 400,
    "y": 600,
    "wires": [
      [
        "50828f0f8f271715"
      ]
    ]
  },
  {
    "id": "b63e0c582fb8a7ac",
    "type": "function",
    "z": "2cde0c13899997d5",
    "name": "IntexSWG sleep",
    "func": "msg.topic = \"homeassistant/binary_sensor/intexSWG_sleep/config\";\ntemp = {};\ntemp.name=\"IntexSWG Sleep\";\ntemp.stat_t=\"tele/intexswg/sensor\";\ntemp.avty_t= \"tele/intexswg/LWT\";\ntemp.pl_avail=\"Online\";\ntemp.pl_not_avail=\"Offline\";\ntemp.uniq_id=\"IntexSWG_sleep\";\ntemp.frc_upd=true;\ntemp.val_tpl=\"{{value_json['status']['sleep']}}\";\ntemp2={};\ntemp2.ids=\"IntexSWG\";\ntemp2.name=\"Intex SWG\";\ntemp.dev=temp2;\ns=JSON.stringify(temp);\nmsg.payload=s;\nreturn msg",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 400,
    "y": 640,
    "wires": [
      [
        "50828f0f8f271715"
      ]
    ]
  },
  {
    "id": "d93fa0d871435528",
    "type": "function",
    "z": "2cde0c13899997d5",
    "name": "IntexSWG pump_low_flow",
    "func": "msg.topic = \"homeassistant/binary_sensor/intexSWG_pump_low_flow/config\";\ntemp = {};\ntemp.name=\"IntexSWG Low Flow\";\ntemp.stat_t=\"tele/intexswg/sensor\";\ntemp.avty_t= \"tele/intexswg/LWT\";\ntemp.pl_avail=\"Online\";\ntemp.pl_not_avail=\"Offline\";\ntemp.uniq_id=\"IntexSWG_pump_low_flow\";\ntemp.frc_upd=true;\ntemp.val_tpl=\"{{value_json['status']['pump_low_flow']}}\";\ntemp2={};\ntemp2.ids=\"IntexSWG\";\ntemp2.name=\"Intex SWG\";\ntemp.dev=temp2;\ns=JSON.stringify(temp);\nmsg.payload=s;\nreturn msg",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 440,
    "y": 680,
    "wires": [
      [
        "50828f0f8f271715"
      ]
    ]
  },
  {
    "id": "6f54109fe705533a",
    "type": "function",
    "z": "2cde0c13899997d5",
    "name": "IntexSWG low_salt",
    "func": "msg.topic = \"homeassistant/binary_sensor/intexSWG_low_salt/config\";\ntemp = {};\ntemp.name=\"IntexSWG Low Salz\";\ntemp.stat_t=\"tele/intexswg/sensor\";\ntemp.avty_t= \"tele/intexswg/LWT\";\ntemp.pl_avail=\"Online\";\ntemp.pl_not_avail=\"Offline\";\ntemp.uniq_id=\"IntexSWG_low_salt\";\ntemp.frc_upd=true;\ntemp.val_tpl=\"{{value_json['status']['low_salt']}}\";\ntemp2={};\ntemp2.ids=\"IntexSWG\";\ntemp2.name=\"Intex SWG\";\ntemp.dev=temp2;\ns=JSON.stringify(temp);\nmsg.payload=s;\nreturn msg",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 410,
    "y": 720,
    "wires": [
      [
        "50828f0f8f271715"
      ]
    ]
  },
  {
    "id": "d0b0e71df5db33d1",
    "type": "function",
    "z": "2cde0c13899997d5",
    "name": "IntexSWG high_salt",
    "func": "msg.topic = \"homeassistant/binary_sensor/intexSWG_high_salt/config\";\ntemp = {};\ntemp.name=\"IntexSWG High Salz\";\ntemp.stat_t=\"tele/intexswg/sensor\";\ntemp.avty_t= \"tele/intexswg/LWT\";\ntemp.pl_avail=\"Online\";\ntemp.pl_not_avail=\"Offline\";\ntemp.uniq_id=\"IntexSWG_high_salt\";\ntemp.frc_upd=true;\ntemp.val_tpl=\"{{value_json['status']['high_salt']}}\";\ntemp2={};\ntemp2.ids=\"IntexSWG\";\ntemp2.name=\"Intex SWG\";\ntemp.dev=temp2;\ns=JSON.stringify(temp);\nmsg.payload=s;\nreturn msg",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 760,
    "wires": [
      [
        "50828f0f8f271715"
      ]
    ]
  },
  {
    "id": "044c6bceedd54b27",
    "type": "function",
    "z": "2cde0c13899997d5",
    "name": "IntexSWG service",
    "func": "msg.topic = \"homeassistant/binary_sensor/intexSWG_service/config\";\ntemp = {};\ntemp.name=\"IntexSWG Service\";\ntemp.stat_t=\"tele/intexswg/sensor\";\ntemp.avty_t= \"tele/intexswg/LWT\";\ntemp.pl_avail=\"Online\";\ntemp.pl_not_avail=\"Offline\";\ntemp.uniq_id=\"IntexSWG_service\";\ntemp.frc_upd=true;\ntemp.val_tpl=\"{{value_json['status']['service']}}\";\ntemp2={};\ntemp2.ids=\"IntexSWG\";\ntemp2.name=\"Intex SWG\";\ntemp.dev=temp2;\ns=JSON.stringify(temp);\nmsg.payload=s;\nreturn msg",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 410,
    "y": 800,
    "wires": [
      [
        "50828f0f8f271715"
      ]
    ]
  },
  {
    "id": "9291f6541b05c46c",
    "type": "function",
    "z": "2cde0c13899997d5",
    "name": "IntexSWG working",
    "func": "msg.topic = \"homeassistant/binary_sensor/intexSWG_working/config\";\ntemp = {};\ntemp.name=\"IntexSWG working\";\ntemp.stat_t=\"tele/intexswg/sensor\";\ntemp.avty_t= \"tele/intexswg/LWT\";\ntemp.pl_avail=\"Online\";\ntemp.pl_not_avail=\"Offline\";\ntemp.uniq_id=\"IntexSWG_working\";\ntemp.frc_upd=true;\ntemp.val_tpl=\"{{value_json['mode']['working']}}\";\ntemp2={};\ntemp2.ids=\"IntexSWG\";\ntemp2.name=\"Intex SWG\";\ntemp.dev=temp2;\ns=JSON.stringify(temp);\nmsg.payload=s;\nreturn msg",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 410,
    "y": 840,
    "wires": [
      [
        "50828f0f8f271715"
      ]
    ]
  },
  {
    "id": "b36c017ff5045cd2",
    "type": "function",
    "z": "2cde0c13899997d5",
    "name": "IntexSWG programming",
    "func": "msg.topic = \"homeassistant/binary_sensor/intexSWG_programming/config\";\ntemp = {};\ntemp.name=\"IntexSWG programming\";\ntemp.stat_t=\"tele/intexswg/sensor\";\ntemp.avty_t= \"tele/intexswg/LWT\";\ntemp.pl_avail=\"Online\";\ntemp.pl_not_avail=\"Offline\";\ntemp.uniq_id=\"IntexSWG_programming\";\ntemp.frc_upd=true;\ntemp.val_tpl=\"{{value_json['mode']['programming']}}\";\ntemp2={};\ntemp2.ids=\"IntexSWG\";\ntemp2.name=\"Intex SWG\";\ntemp.dev=temp2;\ns=JSON.stringify(temp);\nmsg.payload=s;\nreturn msg",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 430,
    "y": 880,
    "wires": [
      [
        "50828f0f8f271715"
      ]
    ]
  },
  {
    "id": "a5536a5c51f32495",
    "type": "function",
    "z": "2cde0c13899997d5",
    "name": "IntexSWG current_code",
    "func": "msg.topic = \"homeassistant/sensor/intexSWG_current_code/config\";\ntemp = {};\ntemp.name=\"IntexSWG current_code\";\ntemp.stat_t=\"tele/intexswg/sensor\";\ntemp.avty_t= \"tele/intexswg/LWT\";\ntemp.pl_avail=\"Online\";\ntemp.pl_not_avail=\"Offline\";\ntemp.uniq_id=\"IntexSWG_current_code\";\ntemp.frc_upd=true;\ntemp.val_tpl=\"{{value_json['display']['current_code']}}\";\ntemp2={};\ntemp2.ids=\"IntexSWG\";\ntemp2.name=\"Intex SWG\";\ntemp.dev=temp2;\ns=JSON.stringify(temp);\nmsg.payload=s;\nreturn msg",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 450,
    "y": 920,
    "wires": [
      [
        "50828f0f8f271715"
      ]
    ]
  },
  {
    "id": "b3d7b5c619ce1c0d",
    "type": "api-current-state",
    "z": "2cde0c13899997d5",
    "name": "intexswgrestapi",
    "server": "60596f5b35ef36ff",
    "version": 1,
    "outputs": 2,
    "halt_if": "true",
    "halt_if_type": "bool",
    "halt_if_compare": "is",
    "override_topic": false,
    "entity_id": "input_boolean.intexswg_restapi",
    "state_type": "habool",
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "blockInputOverrides": false,
    "x": 140,
    "y": 180,
    "wires": [
      [
        "49a30b1d9ce73255"
      ],
      []
    ]
  },
  {
    "id": "49ce557dcf36ec2b",
    "type": "server-state-changed",
    "z": "2cde0c13899997d5",
    "name": "",
    "server": "60596f5b35ef36ff",
    "version": 1,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "input_select.intexswg_mode",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 1,
    "output_only_on_state_change": true,
    "x": 210,
    "y": 60,
    "wires": [
      [
        "8086725747e4fbdf"
      ]
    ]
  },
  {
    "id": "f312811ce22c195a",
    "type": "http request",
    "z": "2cde0c13899997d5",
    "name": "",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://192.168.178.182:8080/api/v1/intex/swg",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "senderr": false,
    "x": 670,
    "y": 60,
    "wires": [
      []
    ]
  },
  {
    "id": "8086725747e4fbdf",
    "type": "function",
    "z": "2cde0c13899997d5",
    "name": "",
    "func": "msg.headers = {};\nmsg.headers={ \n   'Content-Type': 'text/html'\n};\nswgv=msg.payload;\nmsg.payload = {};\ntemp = {};\ntemp2 = {};\ntemp2.power=swgv;\ntemp.data=temp2;\ns=JSON.stringify(temp);\nmsg.payload=s;\n\nreturn msg",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 480,
    "y": 60,
    "wires": [
      [
        "f312811ce22c195a"
      ]
    ]
  },
  {
    "id": "233bb5bb7b4d0e49",
    "type": "api-current-state",
    "z": "2cde0c13899997d5",
    "name": "",
    "server": "60596f5b35ef36ff",
    "version": 1,
    "outputs": 1,
    "halt_if": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "override_topic": false,
    "entity_id": "input_select.intexswg_mode",
    "state_type": "str",
    "state_location": "payload",
    "override_payload": "msg",
    "entity_location": "data",
    "override_data": "msg",
    "blockInputOverrides": false,
    "x": 460,
    "y": 120,
    "wires": [
      [
        "8086725747e4fbdf"
      ]
    ]
  },
  {
    "id": "905c531dbbc6ed20",
    "type": "inject",
    "z": "2cde0c13899997d5",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "Online",
    "payloadType": "str",
    "x": 130,
    "y": 220,
    "wires": [
      [
        "233bb5bb7b4d0e49"
      ]
    ]
  },
  {
    "id": "8af89f274c627b6b",
    "type": "server-state-changed",
    "z": "2cde0c13899997d5",
    "name": "swg_standby",
    "server": "60596f5b35ef36ff",
    "version": 1,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "input_button.intex_swg_standby",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 1,
    "output_only_on_state_change": true,
    "x": 110,
    "y": 400,
    "wires": [
      [
        "dc6a63f79c896fc1"
      ]
    ]
  },
  {
    "id": "830b46773e4c1d5a",
    "type": "server-state-changed",
    "z": "2cde0c13899997d5",
    "name": "swg_on",
    "server": "60596f5b35ef36ff",
    "version": 1,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "input_button.intexswg_on",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 1,
    "output_only_on_state_change": true,
    "x": 90,
    "y": 460,
    "wires": [
      [
        "745c33dde42b3b46"
      ]
    ]
  },
  {
    "id": "3d9b290a644c534c",
    "type": "server-state-changed",
    "z": "2cde0c13899997d5",
    "name": "swg_off",
    "server": "60596f5b35ef36ff",
    "version": 1,
    "exposeToHomeAssistant": false,
    "haConfig": [
      {
        "property": "name",
        "value": ""
      },
      {
        "property": "icon",
        "value": ""
      }
    ],
    "entityidfilter": "input_button.intexswg_off",
    "entityidfiltertype": "exact",
    "outputinitially": false,
    "state_type": "str",
    "haltifstate": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 1,
    "output_only_on_state_change": true,
    "x": 90,
    "y": 520,
    "wires": [
      [
        "4a3791498f0df033"
      ]
    ]
  },
  {
    "id": "faa9edd1ad5260da",
    "type": "http request",
    "z": "2cde0c13899997d5",
    "name": "",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://192.168.178.182:8080/api/v1/intex/swg",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "senderr": false,
    "x": 610,
    "y": 480,
    "wires": [
      [
        "41358eaafe3f9eac"
      ]
    ]
  },
  {
    "id": "76fe751d0a5c520a",
    "type": "function",
    "z": "2cde0c13899997d5",
    "name": "",
    "func": "msg.headers = {};\nmsg.headers={ \n   'Content-Type': 'text/html'\n};\nswgv=msg.payload;\nmsg.payload = {};\ntemp = {};\ntemp2 = {};\ntemp2.power=swgv;\ntemp.data=temp2;\ns=JSON.stringify(temp);\nmsg.payload=s;\n\nreturn msg",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 480,
    "wires": [
      [
        "faa9edd1ad5260da",
        "4941b49eb8bfdaf7"
      ]
    ]
  },
  {
    "id": "dc6a63f79c896fc1",
    "type": "change",
    "z": "2cde0c13899997d5",
    "name": "standby",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "standby",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 260,
    "y": 420,
    "wires": [
      [
        "76fe751d0a5c520a"
      ]
    ]
  },
  {
    "id": "745c33dde42b3b46",
    "type": "change",
    "z": "2cde0c13899997d5",
    "name": "on",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "on",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 250,
    "y": 460,
    "wires": [
      [
        "76fe751d0a5c520a"
      ]
    ]
  },
  {
    "id": "4a3791498f0df033",
    "type": "change",
    "z": "2cde0c13899997d5",
    "name": "off",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "off",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 250,
    "y": 520,
    "wires": [
      [
        "76fe751d0a5c520a"
      ]
    ]
  },
  {
    "id": "71554df59a13193f",
    "type": "debug",
    "z": "2cde0c13899997d5",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 730,
    "y": 220,
    "wires": []
  },
  {
    "id": "41358eaafe3f9eac",
    "type": "trigger",
    "z": "2cde0c13899997d5",
    "name": "",
    "op1": "true",
    "op2": "true",
    "op1type": "bool",
    "op2type": "bool",
    "duration": "2",
    "extend": false,
    "overrideDelay": true,
    "units": "s",
    "reset": "reset",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 2,
    "x": 240,
    "y": 320,
    "wires": [
      [],
      [
        "49a30b1d9ce73255"
      ]
    ]
  },
  {
    "id": "24343b1cf1670fc2",
    "type": "mqtt-broker",
    "name": "",
    "broker": "localhost",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "sessionExpiry": ""
  },
  {
    "id": "60596f5b35ef36ff",
    "type": "server",
    "name": "Home Assistant",
    "legacy": false,
    "addon": true,
    "rejectUnauthorizedCerts": true,
    "ha_boolean": "y|yes|true|on|home|open",
    "connectionDelay": true,
    "cacheJson": true
  }
]